<div class="recipe-div">
    <div>
        <h2><%= link_to recipe.name, recipe_path(recipe) %></h2>
     
        <%= button_to "Remove", recipe_path(recipe), method: :delete, class: "recipe-remove-btn", data: {confirm: 'Are you sure?'} %>

    </div>
    <p>
        <%= recipe.description %><br/>
    </p>
</div>